/* General layout */

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

label {
  margin-right: 10px;
}

select,
input {
  margin-left: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #007acc;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #005f99;
}

.chart-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}

.heading-main {
  margin: 0;
  text-align: center;
  color: #333;
  margin: 10px 0;
}
